<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx.xsd http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">
    <!--启用注解-->
    <context:annotation-config/>

    <!--排除Controller注解-->
    <context:component-scan base-package="com.sdcxv.demowebserver">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--&lt;!&ndash;数据库配置文件&ndash;&gt;-->
    <!--<context:property-placeholder location="classpath*:jdbc.properties"/>-->

    <!--&lt;!&ndash;本地数据源 &ndash;&gt;-->
    <!--<bean id="dataSourceLocal" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">-->
        <!--<property name="driverClassName" value="${jdbc.driverClassName}"/>-->
        <!--<property name="url" value="${jdbc.url.mysql_local}"/>-->
        <!--<property name="username" value="${jdbc.username.mysql_local}"/>-->
        <!--<property name="password" value="${jdbc.password.mysql_local}"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash; myBatis的配置项 &ndash;&gt;-->
    <!--&lt;!&ndash; 配置sqlSessionFactory &ndash;&gt;-->
    <!--<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">-->
        <!--&lt;!&ndash; 实例化sqlSessionFactory时需要使用上述配置好的数据源以及SQL映射文件 &ndash;&gt;-->
        <!--<property name="dataSource" ref="dataSourceLocal"/>-->
        <!--&lt;!&ndash; 指定MyBatis配置文件路径 &ndash;&gt;-->
        <!--<property name="configLocation" value="classpath:mybatis-config.xml"/>-->
    <!--</bean>-->

    <!--<mybatis:scan base-package="com.sdcxv.ams.mapper"/>-->

    <!--&lt;!&ndash; JDBC事务管理器 &ndash;&gt;-->
    <!--<bean id="transactionManager"-->
          <!--class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
        <!--&lt;!&ndash;DataSource事务管理器需要数据源实例&ndash;&gt;-->
        <!--<property name="dataSource" ref="dataSourceLocal"/>-->
    <!--</bean>-->
    <!--&lt;!&ndash; 启用对事务注解的支持  &ndash;&gt;-->
    <!--<tx:annotation-driven transaction-manager="transactionManager"/>-->
</beans>